body{
    background-color: #F2F3D9 !important;
}

.Navigation{
    background-color: #030027;
    height: 100vh  ;
    float: left;
    transition: 1s ease-out;
}
.NavigationChange{
    display: none !important;
 
}
.Navigation ul{
    padding: 20px;
    list-style-type: none;
}
.Navigation ul li{
    margin-top: 80px;
    font-weight: 600;
    font-size: 25px;
    color: #f2f3d9;

}

.Navigation ul li:hover{
    cursor: pointer;
    background-color: #151E3F;
    transition: 0.2s ease-in-out;
    border-top: 1px solid #f2f3d9;
    border-radius: 20px;
}

.ham{
    border:none;
}