
.Navigation{
    background-color: rgb(25, 158, 158);
    width: 20%;
    height: 100vh ;
    float: left;
}
.Navigation ul{
    padding: 20px;

}
.Navigation ul li{
    list-style-type: none;
    margin-top: 100px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
}
.Navigation ul li:hover{
    cursor: pointer;
    background-color: rgb(59, 54, 54);
    transition: 0.2s ease-in-out;
}
